@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 1em;
  }

  body {
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
  
    &::-webkit-scrollbar-track {
      background: linear-gradient(to bottom, #0a3c6f, #132157);
      border-radius: 10px;
    }
  
    &::-webkit-scrollbar-thumb {
      background: #fff;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #aaa;
    }
  }

  h1 {
    @apply font-Prompt text-lg-cv font-semibold;
  }

  h2 {
    @apply font-Prompt text-lg-cv;
  }

  h3 {
    @apply uppercase font-semibold;
  }

  a {
    @apply tr-link font-medium;
  }

  ul {
    @apply list-disc list-outside pl-4;
  }
}

@layer utilities {
  .tr {
    @apply transition duration-300 ease-out
  }

  .tr-link {
    @apply text-blue-600 tr hover:text-blue-800;
  }

  .tr-svg {
    @apply tr hover:scale-110;
  }

  .list-pills {
    @apply list-none flex flex-wrap items-center gap-1.5;

    li {
      @apply px-1.5 bg-dimmed rounded-lg shadow;

      .light & {
        @apply bg-dimmed-l;
      }
    }
  }

  .btn-print {
    @apply fixed z-50 bottom-3 left-[50%] translate-x-[-50%] tr bg-blue-600 hover:bg-blue-800 text-xl text-slate-100 py-2.5 px-3 uppercase font-Prompt tracking-wider font-semibold shadow-slate-800 shadow-lg rounded-xl flex gap-2 items-center;
  }

  .bg-grad-1 {
    background-color: #0a3c6f;
    background-image: linear-gradient(to bottom, #0a3c6f, #132157);
  }

  .navigation {
    @apply fixed left-0 top-[50%] translate-x-4 translate-y-[-50%] uppercase grid gap-2 bg-white rounded-xl px-3 py-2 overflow-hidden shadow-slate-800;

    a {
      @apply font-bold;

      &:focus {
        @apply text-blue-400;
      }
    }
  }

  h3[id] {
    + div {
      @apply rounded-lg outline outline-4 outline-offset-4 outline-transparent;
    }

    &:target + div {
      animation: highlight 1.5s 0.1s ease-out forwards;
    }
  }
}

@keyframes highlight {
  0% {
    @apply outline-transparent;
  }
  20% {
    @apply outline-blue-400;
  }
  80% {
    @apply outline-blue-400;
  }
  100% {
    @apply outline-transparent;
  }
}

@page {
  size: A4 portrait ;
  margin: 0;
  padding: 0;
}

@media print {
  /* 
    Make sure the browser respects background colors while printing. 
    https://developer.mozilla.org/en-US/docs/Web/CSS/print-color-adjust
  */
  .bg-dimmed {
    print-color-adjust: exact;
  }

  .navigation,
  .btn-print {
    display: none;
  }
}