@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-Prompt text-lg-cv font-semibold;
  }

  h2 {
    @apply font-Prompt text-lg-cv;
  }

  h3 {
    @apply uppercase font-semibold;
  }

  table {
    @apply mt-1;
  }

  td {
    @apply py-2;
  }

  svg {
    @apply h-6 w-6;
  }

  a {
    @apply tr-link font-medium;
  }

  ul {
    @apply list-disc list-outside pl-4;
  }
}

@layer utilities {
  .tr-link {
    @apply text-blue-500 transition duration-300 ease-out hover:text-blue-700;
  }

  .tr-svg {
    @apply transition duration-300 ease-out hover:scale-110;
  }
}

@page {
  size: A4 portrait ;
  margin: 0;
  padding: 0;
}

@media print {
  astro-dev-toolbar {
    display: none;
  }

  /* 
    Make sure the browser respects background colors while printing. 
    https://developer.mozilla.org/en-US/docs/Web/CSS/print-color-adjust
  */
  .bg-dimmed {
    print-color-adjust: exact;
  }
}