@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-Prompt text-lg-cv font-semibold;
  }

  h2 {
    @apply font-Prompt text-lg-cv;
  }

  h3 {
    @apply uppercase font-semibold;
  }

  a {
    @apply tr-link font-medium;
  }

  ul {
    @apply list-disc list-outside pl-4;
  }
}

@layer utilities {
  .tr {
    @apply transition duration-300 ease-out
  }

  .tr-link {
    @apply text-blue-600 tr hover:text-blue-800;
  }

  .tr-svg {
    @apply tr hover:scale-110;
  }

  .list-pills {
    @apply list-none flex flex-wrap items-center gap-1.5;

    li {
      @apply px-1.5 bg-dimmed rounded-lg shadow;

      .light & {
        @apply bg-dimmed-l;
      }
    }
  }

  .btn-print {
    @apply fixed z-50 bottom-3 left-[50%] translate-x-[-50%] tr bg-blue-600 hover:bg-blue-800 text-xl text-slate-100 py-2.5 px-3 uppercase font-Prompt tracking-wider font-semibold shadow-gray-600 shadow-lg rounded-xl flex gap-2 items-center;
  }
}

@page {
  size: A4 portrait ;
  margin: 0;
  padding: 0;
}

@media print {
  /* 
    Make sure the browser respects background colors while printing. 
    https://developer.mozilla.org/en-US/docs/Web/CSS/print-color-adjust
  */
  .bg-dimmed {
    print-color-adjust: exact;
  }

  .btn-print {
    display: none;
  }
}