---
import Icon from '../Icon.astro';

const contacts = [
  {
    url: 'mailto:arkadii.vodolazskyi@pm.me',
    icon: 'proton', 
    title: 'arkadii.vodolazskyi@pm.me', 
  },
  {
    url: 'https://t.me/av_cat',
    icon: 'telegram', 
    title: 'av_cat', 
  },
  {
    url: 'https://www.linkedin.com/in/avcat',
    icon: 'linkedin', 
    title: 'avcat', 
  },
  {
    url: 'https://github.com/avcat',
    icon: 'github', 
    title: 'avcat', 
  },
];
---
<h3 class="mt-4">Contacts</h3>

<table>
  {contacts.map(contact => (
    <tr>
      <td>
        <a href={contact.url}>
          <Icon name={contact.icon} />
        </a>
      </td>
      <td class="pl-3">
        <a class="tr-link font-medium" href={contact.url}>
          {contact.title}
        </a>
      </td>
    </tr>
  ))}
</table>