---
import Icon from '@components/Icon.astro';
import SectionTitle from '@components/SectionTitle.astro';

interface Props {
  data: any;
  title?: string;
}

const { data, title } = Astro.props;
---
<SectionTitle {title} />

<div class="mt-3 grid max-w-content gap-3">
  {data.map(contact => (
    <a class="flex gap-3" href={contact.url} target="_blank">
      <Icon name={contact.icon} width="24" height="24" />
      {contact.title}
    </a>
  ))}
</div>