---
interface Props {
  data: any;
}
import image from '@public/av.jpg';
const { name, position } = Astro.props.data;
---
<div>
  <img
    class="absolute top-[8mm] right-[8mm] shadow-md print:shadow-none object-contain rounded-md"
    src={image.src}
    alt="Arkadii Vodolazskyi"
    width={180}
    height={200}
    loading='eager'
  />

  <h2 class="text-center">
    {name}
  </h2>

  <h1 class="text-center">
    {position}
  </h1>
</div>