---
interface Props {
  data: any;
}
import image from '@public/av.jpg';
const { name, position } = Astro.props.data;
---
<div class="print:mt-[4mm]">
  <img
    class="absolute top-[4mm] lg:top-[8mm] print:top-[10mm] right-[4mm] lg:right-[8mm] shadow-md print:shadow-none object-contain rounded-md hidden sm:block max-w-[140px] lg:max-w-full"
    src={image.src}
    alt="Arkadii Vodolazskyi"
    width={180}
    height={200}
    loading='eager'
  />

  <h2 class="text-center">
    {name}
  </h2>

  <h1 class="text-center">
    {position}
  </h1>
</div>