---
import LayoutMain from '../layouts/LayoutMain.astro';
import Contacts from '../components/cv/Contacts.astro';
import Work from '../components/cv/Work.astro';
---
<LayoutMain title="CV">
  <div class="bg-slate-300 py-[8mm] print:py-0 font-Kanit text-base-cv">
    <div class="mx-auto h-a4 w-a4 bg-white p-[8mm]">
      <h2 class="text-center">Arkadii Vodolazskyi</h2>
      <h1 class="text-center">Wordpress Developer</h1>
  
      <Contacts />

      <Work />
    </div>
  </div>
</LayoutMain>
