---
import LayoutMain from '../layouts/LayoutMain.astro';
import Icon from '../components/Icon.astro';

const contacts = [
  {icon: 'proton', title: 'arkadii.vodolazskyi@pm.me', url: 'mailto:arkadii.vodolazskyi@pm.me'},
  {icon: 'telegram', title: 'av_cat', url: 'https://t.me/av_cat'},
];
---
<LayoutMain title="CV">
  <div class="bg-slate-300 py-[8mm] font-Kanit">
    <div class="mx-auto h-a4 w-a4 bg-white p-[8mm]">
      <h1 class="text-center font-Prompt text-2xl">Arkadii Vodolazskyi</h1>
      <h2 class="text-center font-Prompt text-xl font-bold">Wordpress Developer</h2>
  
      <h3 class="mt-4 text-xl uppercase">Contacts</h3>
      <table>
        <tr>
          <td>
            <a href="mailto:arkadii.vodolazskyi@pm.me">
              <Icon name="proton" />
            </a>
          </td>
          <td class="pl-3">
            <a class="tr-link font-medium" href="mailto:arkadii.vodolazskyi@pm.me">arkadii.vodolazskyi@pm.me</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://t.me/av_cat">
              <Icon name="telegram" />
            </a>
          </td>
          <td class="pl-3">
            <a class="tr-link font-medium" href="https://t.me/av_cat">av_cat</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</LayoutMain>
