---
import LayoutMain from '@layouts/LayoutMain.astro';
import Nav from '@components/sections/Nav.astro';
import PageA4 from '@layouts/PageA4.astro';
import Icon from '@components/Icon.astro';
import { pages } from '@helpers/data.js';
---
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const highlightNav = document.querySelector('[data-js="highlightNav"]');

    if (!highlightNav) return;

    const anchors = Array.from(highlightNav.children);

    highlightNav.addEventListener('click', e => {
      anchors.forEach(anchor => anchor.classList.remove('active'));

      if (e.target instanceof HTMLElement) {
        e.target.classList.add('active');
      }
    });
  }, true);
</script>

<LayoutMain title="CV | Arkadii Vodolazskyi">
  <Nav />
  
  {pages && pages.length && (
    <div class="py-[8mm] print:py-0 font-Kanit text-base-cv font-light">
      {pages.map(sections => <PageA4 {sections} />)}
    </div>
  )}

  <button 
    onclick="print()"
    title="PRINT"
    class="btn-print"
  >
    <Icon name="print-pdf" width="34" height="34" />
  </button>
</LayoutMain>
