---
import '@styles/style.css';
import favicon from '@images/favicon.ico';
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href={favicon} type="image/x-icon">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500;600&family=Prompt:wght@400;600&display=swap" rel="stylesheet">

		<title>{title}</title>
	</head>
	<body class="bg-grad-1">
		<slot />
	</body>
</html>
