---
import Introduction from '@components/sections/Introduction.astro';
import Contacts from '@components/sections/Contacts.astro';
import Work from '@components/sections/Work.astro';
import Projects from '@components/sections/Projects.astro';
import Education from '@components/sections/Education.astro';
import Skills from '@components/sections/Skills.astro';
import Languages from '@components/sections/Languages.astro';

interface Section {
  type: string;
  data: Object | Array<any>;
  title?: string;
}

interface Props {
  class?: string;
  sections: Array<Section>;
}

const componentsMap = {
  Introduction,
  Contacts,
  Work,
  Projects,
  Education,
  Skills,
  Languages,
};

const { class: className, sections } = Astro.props;
---
{sections && sections.length && (
  <div class={`${className} mx-auto my-[8mm] first:mt-0 h-a4 w-a4 bg-white p-[8mm] shadow-lg relative`}>
    {sections.map(section => {
      const Section = componentsMap[section.type];
      return <Section data={section.data} title={section.title} />;
    })}
  </div>
)}